<!DOCTYPE html>
<html lang="ja">
  <header>
    <meta charset="UTF-8">
    <title>HelloApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <div class="header-top">
      <div class="header-logo">
        <%= link_to("キリンったー","/") %>
      </div>
      <ul class="header-menus">
        <li><%= link_to("About", about_path) %></li>
        <li><%= link_to("新規登録", new_user_path) %></li>

        <li><%= link_to("投稿一覧", post_index_path) %></li>
        <li><%= link_to("新規投稿", new_post_path) %></li>
      </ul>
    </div>

  </header>

  <body>
    <%= yield %>
  </body>
  <footer>
    <h1>作成中</h1>
    <ul>
      <li><%= link_to("About", about_path) %></li>
      <li><%= link_to("新規登録", new_user_path) %></li>
      <li><%= link_to("user一覧", user_index_path) %></li>
      <li><%= link_to("投稿一覧", post_index_path) %></li>
      <li><%= link_to("新規投稿", new_post_path) %></li>
    </ul>
  </footer>
</html>
